body {
	font-family: Josefin Sans, sans-serif;
	color: #B6E1E7;
	background-color: #FAE7A5;
	display: flex;
	justify-content: center;
  	align-items: center;
  	min-height: 100vh;
	margin: 0;
	padding: 0;
	
}



header {
	background-color: #F9B872;
	color: #B6E1E7;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	color: #B6E1E7;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}


footer {
	background-color: #F9B872;
	color: #B6E1E7;
	padding: 10px;
	text-align: center;
}
