body {
	font-family: Josefin Sans, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("https://github.com/rnjbdya/rnjbdya/blob/main/files/Busan_Haeundae.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
}

header {
	background-color: #F9B872;
	color: #FAE7A5;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
